//colors
$colorPrimary: #007404;
$colorPrimaryTrans: hsla(122,100%, 18%, 0.7);
$colorDark: #252825;
$colorWhite: #FDFDFD;
$colorGray1: #4E4E4E;
$colorGray2: #898989;
$colorGray3: #DDDDDD;
$colorBG: #F8F1E7;
$colorBG2: #FDFCF8;
$colorBGShadow: #E8F3DF;
$colorBGShadow2: #F4FFEC;
$colorSecondary: #79BE41;

//fontSizes

$logoFontSize: 2.4rem;
$regularTextFontSize1: 1.6rem; // goes for nav links and most of text
$heroHeadingFontSize: 7.2rem;
$headingSecondaryFontSize: 4.0rem;
$headingTertiaryFontSize: 2.4rem;
$regularTextFontSize2: 1.8rem;